In [1]:

from webdriver_manager.chrome import ChromeDriverManager
from selenium import webdriver
from selenium.webdriver.common.action_chains import ActionChains
import pandas as pd                                               #for converting data into table
from IPython.core.display import HTML
HTML("<b>Rendered HTML</b>")

from bs4 import BeautifulSoup                                   #use for parsing into html

In [2]:
url = "https://www1.nseindia.com/live_market/dynaContent/live_watch/get_quote/GetQuote.jsp?symbol=INFY&illiquid=0&smeFlag=0&itpFlag=0"

In [3]:
driver = webdriver.Chrome(ChromeDriverManager().install()) #For installing chromeDriver
driver.get(url)                                            #get the url page
import time
time.sleep(5)

====== WebDriver manager ======
Current google-chrome version is 91.0.4472
Get LATEST driver version for 91.0.4472
Driver [C:\Users\Suraj Singh Bhandari\.wdm\drivers\chromedriver\win32\91.0.4472.101\chromedriver.exe] found in cache

In [4]:
action = ActionChains(driver)
html = driver.page_source              
soup = BeautifulSoup(html,"html.parser")         #parse the page source into html

time.sleep(7)

In [5]:
#Stock main information

Stock_name = soup.find("span",attrs={"id":'companyName'})
Stock_Code = soup.find("a",attrs={"class":'sel'})
Stock_High_Day = soup.find("div",attrs={"id":'dayHigh'})
Stock_Low_day = soup.find("div",attrs={"id":'dayLow'})
Date = soup.find("span",attrs={"id":'LastUpdatedDiv'})
Symbol = soup.find("span",attrs={"id":'symbol'})
ISIN_Code = soup.find("span",attrs={"id":'isinCode'})
Status_code = soup.find("span",attrs={"id":'statusCode'})
Previous_Close = soup.find("div",attrs={"id":'previousClose'})
Stock_Open_Value = soup.find("div",attrs={"id":'open'})
Last_price = soup.find("span",attrs={"id":'lastPrice'})
Precentage_changes = soup.find("a",attrs={"id":'pChange'})
Increased_by = soup.find("span",attrs={"id":'change'})

In [6]:
#Trade Snapshot value
#left cloumn
VWAP = soup.find("span",attrs={"id":'vwap'})
Face_Value = soup.find("span",attrs={"id":'faceValue'})
Traded_Volume = soup.find("span",attrs={"id":'tradedVolume'})
Traded_Value = soup.find("span",attrs={"id":'tradedValue'})
Free_Float_Market_Cap = soup.find("span",attrs={"id":'ffmid'})
Fifty_Two_week_high = soup.find("span",attrs={"id":'high52'})
Fifty_Two_week_low = soup.find("span",attrs={"id":'low52'})
Lower_Price_Band = soup.find("span",attrs={"id":'lowpriceBand'})
Upper_Price_Band = soup.find("span",attrs={"id":'upperpriceBand'})

In [7]:
sy = soup.find('ul',attrs={'id':'pe_details'})
Sy_PE= list(sy.children)[0]
Se_PE =list(sy.children)[1]
SeI = list(sy.children)[2]

In [8]:
#trade snapshot value
#right column
#order Book Table

result = soup.find('div',attrs={'id': 'tab9Content'})
table_rows = result.find_all('tr')
l = []

for tr in table_rows:
    td = tr.find_all('td')
    row = [tr.text for tr in td]
    l.append(row)
    
order_book_table = pd.DataFrame(l, columns=["Buy Qty.","Buy Price","Sell Price","Sell Qty."])
order_book_table = order_book_table.drop([0], axis=0)

In [10]:
order_book_table

   Buy Qty.       Buy Price Sell Price Sell Qty.
1       589        1,561.20   1,561.45        26
2         6        1,561.15   1,561.60       103
3       100        1,561.10   1,561.65        28
4        60        1,561.05   1,561.70       242
5     1,527        1,561.00   1,561.75        33
6  2,93,322  Total Quantity   4,84,311      None

In [11]:
# variable names
Information_name_List = ['Stock Name','Stock Code','Stock High Day','Stock Low day','Date', 'Symbol', 'ISIN Code','Status Code',
                         'Previous Close','Stock Open Value','Stock Last','Stock Precentage changes','Stock Value Increased_by',
                         'VWAP','Stock Face Value', 'Traded Volume (Shares)','Traded Value (lacs)','Free_Float_Market_Cap (crs)',
                         'Fifty_Two_week_high','Fifty_Two_week_low','Lower_Price_Band','Upper_Price_Band',list(Sy_PE.children)[0],
                        list(Se_PE.children)[0],list(SeI.children)[0]]

# variable name text information fetch
stock_information_list = [Stock_name.text,Stock_Code.text,Stock_High_Day.text,Stock_Low_day.text,Date.text,Symbol.text,ISIN_Code.text,
                          Status_code.text,Previous_Close.text,Stock_Open_Value.text,Last_price.text,Precentage_changes.text,
                          Increased_by.text,VWAP.text,Face_Value.text,Traded_Volume.text,Traded_Value.text,Free_Float_Market_Cap.text,
                          Fifty_Two_week_high.text,Fifty_Two_week_low.text,Lower_Price_Band.text,Upper_Price_Band.text,list(Sy_PE.children)[1].text,
                         list(Se_PE.children)[1].text,list(SeI.children)[1].text]

dic = { 'Variable Name':Information_name_List, 'Infosys Stock Information':stock_information_list}

In [12]:
print(dic)

{'Variable Name': ['Stock Name', 'Stock Code', 'Stock High Day', 'Stock Low day', 'Date', 'Symbol', 'ISIN Code', 'Status Code', 'Previous Close', 'Stock Open Value', 'Stock Last', 'Stock Precentage changes', 'Stock Value Increased_by', 'VWAP', 'Stock Face Value', 'Traded Volume (Shares)', 'Traded Value (lacs)', 'Free_Float_Market_Cap (crs)', 'Fifty_Two_week_high', 'Fifty_Two_week_low', 'Lower_Price_Band', 'Upper_Price_Band', 'Symbol P/E: ', 'Sectoral Index P/E: ', 'Sectoral Index: '], 'Infosys Stock Information': ['Infosys Limited', 'EQ', '1,574.65', '1,555.10', 'As on Jul 16, 2021 11:34:47 IST', 'INFY', 'INE009A01021', 'Listed', '1,580.80', '1,573.75', '1,561.20', '-1.24%', '-19.60', '1,566.45', '5.00', '23,59,406', '36,958.92', '5,86,051.00', '1,596.85', '794.80', '1,422.75', '1,738.85', '35.9', '31.89', 'NIFTY IT                                          ']}

In [59]:
Stock_Information_Df = pd.DataFrame(dic)

In [49]:
Stock_Information_Df

,Variable Name,Infosys Stock Information
0,Stock Name,Infosys Limited
1,Stock Code,EQ
2,Stock High Day,"1,574.65"
3,Stock Low day,"1,555.10"
4,Date,"As on Jul 16, 2021 11:34:47 IST"
5,Symbol,INFY
6,ISIN Code,INE009A01021
7,Status Code,Listed
8,Previous Close,"1,580.80"
9,Stock Open Value,"1,573.75"
10,Stock Last,"1,561.20"
11,Stock Precentage changes,-1.24%
12,Stock Value Increased_by,-19.60
13,VWAP,"1,566.45"
14,Stock Face Value,5.00
15,Traded Volume (Shares),"23,59,406"
16,Traded Value (lacs),"36,958.92"
17,Free_Float_Market_Cap (crs),"5,86,051.00"
18,Fifty_Two_week_high,"1,596.85"
19,Fifty_Two_week_low,794.80
20,Lower_Price_Band,"1,422.75"
21,Upper_Price_Band,"1,738.85"
22,Symbol P/E:,35.9
23,Sectoral Index P/E:,31.89
24,Sectoral Index:,NIFTY IT ...

In [52]:
concatDf = pd.concat([Stock_Information_Df,order_book_table],axis=1)

In [51]:
concatDf

,Variable Name,Infosys Stock Information,Buy Qty.,Buy Price,Sell Price,Sell Qty.
0,Stock Name,Infosys Limited,NaN,NaN,NaN,NaN
1,Stock Code,EQ,589,"1,561.20","1,561.45",26
2,Stock High Day,"1,574.65",6,"1,561.15","1,561.60",103
3,Stock Low day,"1,555.10",100,"1,561.10","1,561.65",28
4,Date,"As on Jul 16, 2021 11:34:47 IST",60,"1,561.05","1,561.70",242
5,Symbol,INFY,"1,527","1,561.00","1,561.75",33
6,ISIN Code,INE009A01021,"2,93,322",Total Quantity,"4,84,311",None
7,Status Code,Listed,NaN,NaN,NaN,NaN
8,Previous Close,"1,580.80",NaN,NaN,NaN,NaN
9,Stock Open Value,"1,573.75",NaN,NaN,NaN,NaN
10,Stock Last,"1,561.20",NaN,NaN,NaN,NaN
11,Stock Precentage changes,-1.24%,NaN,NaN,NaN,NaN
12,Stock Value Increased_by,-19.60,NaN,NaN,NaN,NaN
13,VWAP,"1,566.45",NaN,NaN,NaN,NaN
14,Stock Face Value,5.00,NaN,NaN,NaN,NaN
15,Traded Volume (Shares),"23,59,406",NaN,NaN,NaN,NaN
16,Traded Value (lacs),"36,958.92",NaN,NaN,NaN,NaN
17,Free_Float_Market_Cap (crs),"5,86,051.00",NaN,NaN,NaN,NaN
18,Fifty_Two_week_high,"1,596.85",NaN,NaN,NaN,NaN
19,Fifty_Two_week_low,794.80,NaN,NaN,NaN,NaN
20,Lower_Price_Band,"1,422.75",NaN,NaN,NaN,NaN
21,Upper_Price_Band,"1,738.85",NaN,NaN,NaN,NaN
22,Symbol P/E:,35.9,NaN,NaN,NaN,NaN
23,Sectoral Index P/E:,31.89,NaN,NaN,NaN,NaN
24,Sectoral Index:,NIFTY IT ...,NaN,NaN,NaN,NaN

In [17]:
concatDf.to_csv("Infosys Stock Data information.csv", index = None)

In [42]:
Peer_info = soup.find('div',attrs={'class': 'accordian'})
table_row = result.find_all('tr')
pi = []

for tr in table_row:
    td = tr.find_all('td')
    row = [tr.text for tr in td]
    pi.append(row)

In [43]:
pi

[[],
 ['589', '1,561.20', '1,561.45', '26'],
 ['6', '1,561.15', '1,561.60', '103'],
 ['100', '1,561.10', '1,561.65', '28'],
 ['60', '1,561.05', '1,561.70', '242'],
 ['1,527', '1,561.00', '1,561.75', '33'],
 ['2,93,322', 'Total Quantity', '4,84,311']]